:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#map {
  position: relative;
}

.leaflet-mask-pane {
  filter: blur(4px); 
  opacity: 0.5;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
}

.custom-popup .leaflet-popup-tip {
  display: none; /* Hide the popup arrow */
}

.leaflet-popup-close-button {
  color: white;
  font-size: 16px;
  font-weight: bold;
}