:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#map {
  position: relative;
}

.leaflet-mask-pane {
  filter: blur(4px); 
  opacity: 0.5;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
}

.custom-popup .leaflet-popup-tip {
  display: none; /* Hide the popup arrow */
}

.leaflet-popup-close-button {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.card {
  background-color: white;
  border: 1px solid #e5e7e7;
  border-radius: 12px;
  padding: 24px;
  flex-grow: 1;
  overflow: hidden;
}

svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(3) {
  display: none;
}

.leaflet-div-icon {
  width: max-content !important;
  height: max-content !important;
  background-color: #fff;
  border-radius: 4px;
  padding: 0 4px;
  /* pointer-events: none !important; */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}